<fieldset class="buy_form_choiсe_filter_time_add">
  <legend>Выберите время сеанса<span>*</span></legend>
  <select name="buy_form_select_month" id="buy_form_select_month">
    <option value="default" disabled="">Месяц</option>
    <option value="01">январь</option>
    <option value="11">ноябрь</option>
    <option value="12">декабрь</option>
  </select>
  <input type="date" list="days_list">
  <select name="buy_form_select_time" id="buy_form_select_time">
    <option value="default" disabled="">Время</option>
    <option value="20:00">20:00 - 750 рублей</option>
  </select><datalist id="days_list">
    <option value="2024-11-07"></option>
    <option value="2024-11-09"></option>
    <option value="2024-11-20"></option>
    <option value="2024-11-22"></option>
    <option value="2024-11-25"></option>
    <option value="2024-11-26"></option>
    <option value="2024-11-27"></option>
    <option value="2024-11-29"></option>
  </datalist>
</fieldset>
</div>