{{#unless hours}}
<select name="buy_form_select_time" id="buy_form_select_time" disabled></select>
{{/unless}}
{{#if hours}}
<select name="buy_form_select_time" id="buy_form_select_time">
<option value="default" disabled="">Время</option>
<option value="20:00">20:00 - 750 рублей</option>
</select>
{{/if}}
