{{#unless days}}
<input type="date" list="days_list" disabled>
{{!-- </select><datalist id="days_list"></datalist></select> --}}
{{/unless}}
{{#if days}}
<input type="date" list="days_list">
</select><datalist id="days_list">
  <option value="2024-11-07"></option>
  <option value="2024-11-09"></option>
  <option value="2024-11-20"></option>
  <option value="2024-11-22"></option>
  <option value="2024-11-25"></option>
  <option value="2024-11-26"></option>
  <option value="2024-11-27"></option>
  <option value="2024-11-29"></option>
</datalist>
{{/if}}