{{#unless days}}
<input type="date" list="days_list" disabled>
{{/unless}}
{{#if days}}
<input type="date" list="days_list">
<datalist id="days_list">
  {{#each days}}
  <option value="{{{this.session_date}}}"></option>
  {{/each}}
</datalist>
{{/if}}