{{#unless days}}
<input type="date" list="days_list" disabled>
{{!-- </select><datalist id="days_list"></datalist></select> --}}
{{/unless}}
{{#if days}}
<input type="date" list="days_list">

</select><datalist id="days_list">
  {{#each  days}}
  <option value="{{{this.session_date}}}"></option>
   {{/each}}
</datalist>
{{/if}}