{{#unless hours}}
<select name="buy_form_select_time" id="buy_form_select_time" disabled></select>
{{/unless}}
{{#if hours}}
<select name="buy_form_select_time" id="buy_form_select_time">
<option value="default" disabled selected>Время</option>
 {{#each hours}}
<option value="{{{this.session_time}}}">{{{this.session_time}}}</option>
 {{/each}}
</select>
{{/if}}
