<section class="about_us" id="about_us">
  <div>
    <h1 class="capitellum">Cinema</h1>
    <div class="about_us_info">
      <div class="about_us_text">
        <p>Приглашаем Вас на киносеанс в г. Москва</p>
        <p>Время работы:
          <span class="caps text_accent str_center">ежедневно</span>
          <br />
          c
          <span class="throne_svg str_center">09:00</span>
          <br />
          до
          <span class="throne_svg str_center">22:00</span>
        </p>
        <p><span>*</span> Уточняйте по телефону или на сайте</p>
        <p><span>**</span> Для посещения необходимо приобрести билет</p>
      </div>
      <div class="sale">
        <div class="sale_wrapper">
          <p>Скидка для компаний<span class="sale_discont">30%</span><span>* При покупке от трех билетов на сеанс</span>
          </p>
          <div class="sale_info"><a class="btn_accent btn_main_style" href="pages/info.html" target="_blank">Узнать больше</a></div>
        </div>
      </div>
    </div>
  </div>
</section>