<section class="cinema_sessions" id="cinema_sessions">
  <h2>Расписание</h2>
  <div class="cinema_sessions_container">
    <div class="cinema_sessions_filters">
      <div class="cinema_sessions_filter">
        <div class="cinema_sessions_filter_container">
          <div class="cinema_sessions_filter_error"><button class="cinema_sessions_filter_error_btn"
              title="Закрыть"><span></span></button>
            <p></p>
          </div>
          <div class="search_list_container">
            <button class="search_list_btn" title="Поиск сеансов"><span></span></button><input type="text" maxlength="2"
              title="Начните вводить текст и выберите из списка"><button class="movie_list_btn"
              title="Свернуть/развернуть"><span></span></button>
          </div>
        </div>
      </div>
      <div class="cinema_sessions_halls"></div>
    </div>
    <div class="cinema_sessions_calendar_slider" tabindex="0">
      <div class="cinema_sessions_calendar_slider_container">
      </div>
      <div class="cinema_sessions_calendar_prev"></div>
      <div class="cinema_sessions_calendar_next"></div>
    </div>
  </div>
</section>