<footer id="footer">
  <div class="spider-man"></div>
  <div class="footer_container">
    <ul>
      <li>Документы</li>
      <li><a href="/pages_info">Правила посещения</a></li>
      <li><a href="/pages_info">Договор оферты</a></li>
      <li><a href="/pages_info">Правила обработки ПДн</a></li>
    </ul>
    <ul>
      <li>Контакты</li>
      <li>Тел. 8 (495) 123 - 55 - 55</li>
    </ul>
    <ul>
      <li>Социальные сети</li>
      <li><span>Вконтакте</span><a href="https://vk.com/mpei_ru" target="_blank"><img
            src="../images/icons/vk-social-network-logo-col.png"
            alt="Vk"
          /></a>
      </li>
    </ul>
    <ul>
      <li>Мессенджеры</li>
      <li><span>WhatsApp</span><a href="https://wa.me/79028754085" target="_blank"><img src="../images/icons/whatsapp-col.png" alt="WhatsApp" /></a></li>
      <li><span>Telegram </span><a href="https://t.me/mpeiuniversity" target="_blank"><img
            src="../images/icons/telegram-col.png"
            alt="Telegram"
          /></a></li>
    </ul>
  </div>
</footer>