<section class="location" id="location">
  <h2>Расположение</h2>
  <div class="location_content">
    <div class="about_us_text">
      <p>Адрес: г. Москва ул. Какая-то д. 111</p>
      <p>Время работы:
        <span class="caps text_accent str_center">ежедневно</span>
        <br />
        c
        <span class="throne_svg str_center">09:00</span>
        <br />
        до
        <span class="throne_svg str_center">22:00</span>
      </p>
    </div>
    <img src="../images/background/map2.png" alt="map" />
  </div>
</section>