<div class="insert_form">
  <button class="prev_form_btn btn_main_style">Назад</button>
  <div>
      <form action="/insert-to-table/:{{table_name}}" method="POST" enctype="application/x-www-form-urlencoded">
    {{#each table_columns}}
    <div>
      <label for="{{this.column_name}}"> {{this.column_comment}}
        {{#if (true this.not_null)}}
        <span>*</span> {{/if}}</label>
      <div> {{{createInput this ../foreign_columns}}}</div>
    </div>
    {{/each}}
    <input type="submit" class="btn_form" value="Отправить">
  </form>
  </div>
</div>