<div class="database_views">
  <div class="database_view_left_toolbar">
    <ul>
      <li><a href="#" title="Прокрутить вверх" class="scroll-up"><img src="./images/icons/up-arrow-svgrepo-com.svg"
            alt="Скрол"></a></li>
      <li><a href="#" title="Обновить страницу" class="update"><img src="./images/icons/update-alt-svgrepo-com.svg"
            alt="Оюновить"></a></li>
      <li><a href="#" title="Добавить запись" class="add"><img src="./images/icons/add-row-svgrepo-com.svg"
            alt="Добавить"></a></li>
      <li><a href="#" title="Изменить запись" class="change"><img src="./images/icons/change-svgrepo-com.svg"
            alt="Изменить"></a></li>
      <li><a href="#" title="Удалить запись" class="delete"><img src="./images/icons/delete-svgrepo-com.svg"
            alt="Удалить"></a></li>
      <li><a href="#" title="Сохранить изменения" class="save"><img src="./images/icons/download-2-svgrepo-com.svg"
            alt="Сохранить"></a></li>
      <li><a href="#" title="Прокрутить вниз" class="scroll-down"><img src="./images/icons/up-arrow-svgrepo-com.svg"
            alt="Прокрутить"></a></li>
    </ul>
  </div>
  <div class="database_view">
    <div class="database_view_toolbar">
      <div><input type="search" role="search" class="search_text"><img src="./images/icons/search-alt-2-svgrepo-com.svg"
          alt="Поиск"></div>
      <div><input type="button" class="btn_form search_text_btn" value="Найти"></div>
    </div>
    <div class="database_view_table">
      <table id="{{table_name}}">
        <thead>
          <tr>
            {{#each table_colums}}
            <th id="{{this.column_name}}">{{this.column_name}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each table_dates}}
          <tr>
            {{#each this}}
            <td>{{.}}</td>
            {{/each }}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>