<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{homeCssFile}}" />
  </head>
  <body>
    <div class="container">
      <div class="menu">
        <div class="menu_container">
          {{>header/menu_info}}
          {{>header/nav1}}
          {{>header/entrance}}
        </div>
      </div>
      <div class="pages">
      {{>about_us}}
      {{>premiere_content}}
      {{>today}}
      {{>location}}
      </div>
      {{>footer_home}}
    </div>
    <script src="{{homeJsFile}}"></script>
  </body>
</html>