<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{cssFile}}" />
  </head>
  <body>
    <div class="container">
      <div class="menu">
        <div class="menu_container">
          {{>header/menu_info}}
          {{>header/nav}}
          {{>header/entrance}}
        </div>
      </div>
    </div>
    <script src="{{jsFile}}"></script>
  </body>
</html>