<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{scheduleCssFile}}">
  <title>{{{title}}}</title>
</head>

<body>
  <div class="container">
    <div class="menu">
      <div class="menu_container">
        {{>header/menu_info}}
        {{>header/nav2}}
        {{>header/entrance}}
      </div>
    </div>
    <div class="pages">
      {{> cinema_session/cinema_session}}
      {{> afisha/afisha}}
    </div>
    {{>footer_other}}
  </div>
  <script src="{{scheduleJsFile}}"></script>
</body>

</html>