<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cinema | Билеты</title>
</head>

<body>
  <div class="container">
    <div class="ticket">
      <h2>Поздравляем с покупкой!</h2>
      <div class="ticket_info">
        <div class="movie_img_container">
          <div></div>
        </div>
        <div>
          <ul>
            <li>Адрес: <span>г. Москва ул. Какая-то д. 111</span></li>
            <li>Название: <span></span></li>
            <li>Дата: <span></span></li>
            <li>Время: <span></span></li>
            <li>Зал:<span></span></li>
            <li>Ряд:<span></span></li>
            <li>Место:<span></span></li>
          </ul>
          <p>* На входе могут потребоваться документы, подтверждающие возраст</p>
        </div>
      </div>
      <div class="ticket_back"><a href="/">Закрыть и перейти на главную страницу</a></div>
    </div>
  </div>
</body>

</html>