<div class="cinema_sessions_calendar_slider">
  <div class="cinema_sessions_calendar_slider_container">
    {{#each calendar}}
    <table class="table{{this.ind}}" data-month-num = {{this.month}}>
      <caption>{{this.month_name}}</caption>
      <thead>
        <tr>
          {{#each this.week}}
        <th><span>{{.}}</span></th>
        {{/each}}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    {{/each}}
  </div>
  <div class="cinema_sessions_calendar_prev"></div>
  <div class="cinema_sessions_calendar_next"></div>
</div>