.about_us {
  padding: 0 10rem;
  background: var(--black-blue) url('../images/background/imgpreview.jpg') center no-repeat;
  background-size: cover;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.about_us h1 {
  font-weight: 700;
  color: var(--yellow);
  font-size: 15rem;
  text-align: right;
}

.about_us div:first-child {
  margin: auto 0;
}

.about_us_info {
  display: flex;
  justify-content: space-between;
}

.about_us_text {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--light_violet);
  align-self: center;
}

.sale,
.sale_wrapper {
  border: 5px solid var(--light_violet, #40c4c8);
}

.sale {
  padding: 15px;
  max-width: 600px;
  font-size: var(--max_important_text);
  font-weight: 600;
  color: var(--red);
  position: relative;
  background-color: rgba(29, 27, 28, 0.5);
}

.sale_wrapper p span+span {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--light_violet);
}

.sale_wrapper {
  padding: 1rem 3rem;
}

.sale_discont {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 300%;
  color: rgba(72, 149, 167, 0.5);
}

.sale_info a {
  display: inline-block;
  color: initial;
  font-weight: normal;
}

@media (max-width: 1220px) {

  .about_us .sale_discont{
    font-size: 10rem;
    right: 50%;
  }

  .about_us p, .about_us span {
    line-height: 4.6rem;
  }
  .str_center {
    font-size: 4rem!important;
  }
  .about_us h1  {
    font-size: 6rem;
  }

  .about_us_info {
    flex-direction: column;
    align-items: center;
  }
  .about_us {
    max-height: 100vh;
    justify-content: center;
  }
  .sale  {
    margin-top: 6rem;
  }
  .sale_discont {
    left: 60%;
    top: 15%;
  }
  

}
@media (max-width: 750px) {
  .about_us h1 {
    font-size: 5rem;
  }

  .about_us {
    padding: 0!important;
    line-height: 2rem;

  }
  .str_center {
    font-size: 3rem!important;
  }
  .sale_discont {
    font-size: 3rem;
  }
}

@media (max-width: 360px) {
  .about_us h1 {
    font-size: 3rem;
    letter-spacing: 1.5rem;
  }
  .about_us p, .about_us span {
    line-height: 3rem;
  }
  .about_us{
    height: auto;
    min-height: 70rem;
    background-position: right;
  }
  .about_us div:first-child {
    margin: 0;
  }
  .sale_wrapper p {
    font-size: 2rem !important;
    line-height: 2rem;
  }

  .sale_discont {
    font-size: 4.8rem !important;
  }
  .sale_wrapper p span + span {
    margin: 1rem 0;
    line-height: 2rem;
  }
 

}