.account {
  display: flex;
  flex-direction: column;
  height: max-content;
  min-height: 108rem;
}

.menu-left {
  display: flex;
  flex-direction: column;
  width: 15%;
  padding: 1rem;
  min-height: 108rem;
  background-color: var(--grey_violet);

}

.menu-top {
  height: 10rem;
  background-color: var(--dark_violet);
}

.account-view {
  display: flex;
  height: max-content;
  min-height: 108rem;
  background-color: var(--light_violet);
  width: 100%;
}

.menu-left__items {
  color: var(--light_violet);
}

li {
  list-style-type: none;
  list-style-position: inside;
/*   text-transform: uppercase; */
}


.arrow {
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  position: absolute;
  right: .5rem;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--dark_violet);
}


.cursor_pointer{
  cursor: pointer;
}


.menu-top{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.menu-top>div{
  margin-left: auto;
  display: flex;
}

.menu-top>div>p {
  align-self: center;
  color: var(--light_violet);
}
.menu-top>div>button{
  margin-left: 1rem;
}

.active{
  background-color: var(--dark_violet);
}

.menu-left__items>ul li>a:hover, .violet {
background-color: var(--dark_violet);
}

.menu-left__items>ul li>a {
  padding: 1rem .5rem;
  display: inline-block;
  width: 100%;
  transition: .3s;
}

.menu-left__items>ul li:has(:not(a)) {
  padding: 1rem .5rem;
}

/* .menu-left__items>ul li:has(:not(a)) + li{
  padding: 1rem .5rem;
  cursor: pointer;
}

.menu-left__items>ul li:has(:not(a)) + li:hover{
  background-color: var(--dark_violet);
} */

.menu-left__items>ul li {
  margin-top: 1rem;
  border: 1px dotted rgba(210, 226, 249, .3);
}


.menu-left__items>ul>li {
  border: 1px solid rgba(210, 226, 249, .5);
  display: flex;
  flex-direction: column;
  position: relative;
}

.personality{
  padding: 1rem;
}

.personality form input[type='text'] {
  height: 2.5rem;
  padding: .5rem;
}

.pass>div input+input {
  margin-left: 1rem;
}

.sales_page, .attendance_page {
  padding: 1rem;
  width: 80%;
}
.for_flex {
  display: flex;
}
.block {
  display: block;
}
.sales__container {
  display: flex;
}
.sales_page>div {
  max-width: 70%;
}
/* .sales_summary_container{
  max-width: 60rem;
} */

.report_table,  .session_summary_today_table, .session_summary_lastday_table {
  width: 100%;
  margin-left: 5rem;
}

.report_table table tr, .session_summary_today_table table tr,
.session_summary_lastday_table table tr {
  padding: .5rem;
  border: 1px solid var(--dark_violet);
}
.attendance_page_conrainer {
  display: flex;
}

.attendance_page_conrainer h3 {
  font-size: 36px;
}

.attendance_page_left {
  width: 60%;
}

.sales_cinema .database_view_table td, .database_view_table th{
  font-size: 16px;
/*   font-weight: bold; */
}

.session_summary_lastday_table {
  margin-top: 1rem;
}

.attendance_page_period {
  position: relative;
}
.attendance_page_radio_block {
  margin-top: .5rem;
  display: flex;
  justify-content: space-between;
  width: 260px;
  position: absolute;
  bottom: -2rem;

}
.diagrams {
  margin-top: 2rem;
}
.attendance_page_right {
  margin-left: 1rem;
}
