.btn_main_style {
  font-size: 2.4rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.btn_ordinary {
  background-color: var(--red);
  border-radius: 3rem;
  color: var(--yellow);
  padding: 1rem 2rem;
}

.btn_ordinary:hover {
  background-color: var(--dark_violet);
  border: 1px solid var(--dark_violet);
}

.btn_accent,
.btn_accent:hover,
.btn_ordinary {
  border: 1px solid var(--black-blue);
}

.btn_accent {
  background-color: var(--red);
  padding: 1rem 2rem;
}

.btn_accent:hover {
  box-shadow: inset -200px -4px 115px -84px #4895a7;
}

.entrance_form_btn, .account_form_btn, .exit_btn {
  border: 0;
  background-color: var(--dark_violet);
  align-self: center;
  height: max-content;
  font-size: 2.4rem;
  color: var(--red);
  /* padding: 1rem 0 1rem 3.4rem; */
  padding: 0 0 0 3.4rem;
  cursor: pointer;
  position: relative;
}

.entrance_form_btn:hover, .account_form_btn:hover, .exit_btn:hover {
  color: var(--light_violet);
}

.entrance_form_btn:hover .entrance_form_img path , .account_form_btn:hover .account_form_img path, .exit_btn:hover .exit_btn_img path{
  fill: var(--light_violet);
}

.entrance_form_img path, .account_form_img path, .exit_btn_img path {
  fill: var(--red);
}

.entrance_form_img, .account_form_img, .exit_btn_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.prev_form_btn {
  font-size: initial;
  text-transform: capitalize;
  background-color: transparent;
  border: 0;
  color: var(--dark_violet);
}

.prev_form_btn::before {
  content: "\00AB";
  font-family: var(--h1_font);
  width: 2.4rem;
  height: 2.4rem;
  padding-right: 1rem;
}

.prev_form_btn:hover {
  color: rgba(72, 64, 121, 0.8);
}

.buy_form button {
  width: 50%;
  margin-top: 1rem;
}

.btn_form {
  font-size: 2rem;
  border-radius: 40rem;
  border: 1px solid var(--dark_violet);
  background-color: var(--dark_violet);
  color: var(--light_violet);
}

.btn_form:hover, .cancellation:hover {
  background-color: rgba(72, 64, 121, 0.8);
}