footer {
  min-height: 15rem;
  height: auto;
  padding: 1rem;
  position: relative;
  background-color: var(--dark_violet);
  color: var(--light_violet);
}

.footer_container {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.footer_container img {
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
  vertical-align: middle;
}

.footer_container img[alt="Vk"] {
  width: 6rem;
}

.footer_container img[alt="Feedback"] {
  width: 6rem;
  height: 7rem;
}

.footer_container>ul>li:first-child,
.buy_form_choiÑe_error {
  font-size: 2rem;
  text-transform: uppercase;
}

.footer_container ul:first-child a:hover, .return_tickets {
  color: var(--red);
}

footer ul>li~li {
  margin-top: 1rem;
}

.return_tickets {
  font-size: 2rem;
}
.footer_container ul:first-child a {
  transition: 0.3s;
}

.footer_container ul+ul>ul {
  margin-top: 2rem;
}

@media (max-width: 360px) {
  .footer_container {
    flex-direction: column;
    
  }
  .footer_container ul>li, .footer_container ul>li a, .footer_container ul>li span {
    font-size: 12px;
    text-align: center;
  }
  .footer_container ul {
    margin-bottom: 1rem;
  }
  .return_tickets {
    padding: 10px;
    border: 1px solid var(--red);
  }
}