footer {
  min-height: 18rem;
  height: auto;
  padding: 1rem;
  position: relative;
  background-color: var(--dark_violet);
  color: var(--light_violet);
}

.spider-man {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../images/background/spider.png) no-repeat;
  background-size: cover;
  width: 581px;
  height: 824px;
}

.footer_container {
  display: flex;
  max-width: 65%;
  margin: auto 0 auto auto;
  justify-content: space-between;
}

.footer_container img {
  width: 3rem;
  height: 3rem;
  margin-left: 2rem;
  vertical-align: middle;
}

.footer_container img[alt="Vk"] {
  width: 6rem;
}

.footer_container img[alt="Feedback"] {
  width: 6rem;
  height: 7rem;
}

.footer_container>ul>li:first-child,
.buy_form_choiÑe_error {
  font-size: 2rem;
  text-transform: uppercase;
}

.footer_container ul:first-child a:hover {
  color: var(--red);
}

footer ul>li~li {
  margin-top: 1rem;
}

.footer_container ul:first-child a {
  transition: 0.3s;
}