.location {
  background-color: var(--black-blue);
  display: flex;
  flex-direction: column;
}

.location_content {
  width: 65%;
  display: flex;
  justify-content: space-between;
  margin: auto 0 auto auto;
}
.about_us_text {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--light_violet);
  align-self: center;
}