<div class="menu_info">
  <div class="logo">
    <a href="#"><img src="images/icons/film-roll.svg" alt="Logotip" /></a>
    <p class="logo_name">Cинема</p>
  </div>
  <p class="age_restrictions">
    18+
    <span>Сайт может содержать информацию <br /> не предназначенную для просмотра детей</span>
  </p>
</div>