<nav>
  <ul class="menu_main_list">
    <li><a class="main_page" href="/#about_us">Кинотеатр</a>
      <ul class="invisibility">
        <li><a class="main_page" href="/#premiere">Премьеры</a></li>
        <li><a class="main_page" href="/#today">Сегодня</a></li>
        <li><a class="main_page" href="/#location">Расположение</a></li>
      </ul>
    </li>
    <li><a class="second_page" href="#cinema_sessions">Расписание</a>
      <ul class="invisibility">
        <li><a class="second_page" href="#afisha">Афиша</a></li>
      </ul>
    </li>
    <li class="contacts"><a href="#footer">Контакты</a></li>
  </ul>
</nav>