<div class="entrance_form_big_container">
  <div class="entrance_form_container">
    <button class="entrance_form_close btn_main_style" title="Закрыть"></button>
    <form action="#" class="restore_password_form">
      <button class="prev_form_btn btn_main_style">Назад</button>
      <select name="restore_password_form" id="restore_password_form">
        <option disabled selected hidden>Выберите способ восстановления пароля</option>
        <option value="login">По логину</option>
        <option value="phone">По номеру телефона</option>
        <option value="email">По адресу эл. почты</option>
      </select>
      <div><input type="text"></div>
      <input type="button" value="Отправить" class="btn_main_style btn_form">
    </form>
  </div>
</div>